*{
    background: #031540
}
h1{
    color:#fff;
    margin-left:50%;
    margin-top: 60px;
}
.photo{
    height: 400px;
    width: 400px;
    left: 50%;
    background-color: aliceblue;
    border-radius: 50%;
    background-image: url('image.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 20px solid #fff;
}
.paragraph{
    height: 500px;
    width: 1000px;
    color: #fff;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 800;
    word-spacing:2px;
}
.main{
    display: inline-block;
    display: flex;
}
.header{
    position: fixed;
    top: 0;
    left:0;
    width: 85%;
    padding: 20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}
h1{
    margin-left: 10px;
    text-decoration: underline;
}
ul li{
    font-size: 25px;
    color: #fff;
    line-height: 2;
}

/* ------skills-------- */
.heading1{
    text-align: center;
    text-decoration:underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
.Technical-bars .bar{
        margin-top: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
span{
    color: #fff;
}
.container{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.project{
    list-style: circle;
}

 
